/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #222;
}

/* UTILITIES */

/* MAIN */
.main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hero {
    height: 800px;
    width: 100%;
}
.hero-title {
    padding: 50px 0;
    font-size: 28px;
    font-family: sans-serif;
    background: #28205b;
    color: #bbb0ff;
    text-align: center;
}

/* CAROUSEL */
.carousel {
    height: 80%;
    position: relative;
    overflow: hidden;
}
.carousel-images {
    height: 100%;
}
.carousel-images img {
    position:absolute;
    left:100%;
    top:-35%;
    width:100%;
    transition: left .5s .6s;
}

/* CAROUSEL BUTTONS */
.carousel-images > .next,
.carousel-images > .previous {
    color: #bbb0ff;
    z-index: 1;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-images > .next{
    right: -20px;
    transition: right .5s .3s;
}

.carousel-images > .previous {
    left: -20px;
    transition: left .5s .3s;
}

/* carousel circles slider */
.carousel-control {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

.carousel-control .circle {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 3px #bbb0ff;
    cursor: pointer;
    bottom: -25px;
    margin: 0 20px;
    transition: bottom .5s,
                margin .7s,
                background .5s;
  }

.carousel-control .circle:hover {
    background: #bbb0ff;
  }



  /* JS UTILITIES */

img.active {
    left: 0;
    transition: left .5s .1s;
}

.circle.active {
    background: #bbb0ff;
    transition: background .6s;
}

.circle.onhover {
    bottom: 0;
    margin: 0;
}

.carousel-images > .next.onhover{
    right: 50px;
}

.carousel-images > .previous.onhover {
    left: 50px;
}